*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #1a1a2e;
  color: white;
  font-family: 'Pokemon Hollow';
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0.5rem;
  }
}

.card {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  width: 220px;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;

}

@media (max-width: 768px) {
  .card {
    width: 100%;
    aspect-ratio: 5 / 7;
  }
}

.card__img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-user-drag: none;
  pointer-events: none;
}


/* @keyframes card_click {
  from {transform: translate(var(--centerX), var(--centerY)) scale(2) rotateY('0deg');}
  to {transform: translate(var(--centerX), var(--centerY)) scale(2) rotateY('360deg');}
} */

.card.is_clicked {
  z-index: 999;
}

.card__glare {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--posx) var(--posy),
    rgba(255, 255, 255, 0.4),
    transparent 70%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}